# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual envs
env/
venv/
.venv/

# Local env files
.env
instance/*.env
instance/*.key
instance/*.secret

# SQLite DB (your DB)
instance/*.sqlite3
instance/*.db

# Editor / OS
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db

# Test / coverage
.coverage
.pytest_cache/
htmlcov/
"instance/" 
